<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application
            android:icon="@mipmap/ic_launcher"
            android:label="HealthPhone"
            android:theme="@style/Theme.FE">
        <activity
                android:name="com.app.fe.vista.CamaraVista"
                android:exported="true"
                android:label="FE"
                android:theme="@style/Theme.FE">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.app.fe.vista.ResultadosVista"
                  android:exported="true">
        </activity>
    </application>

</manifest>